:root{
    --green--: #71BE46;
    --grey--: #606161;
    --white--: #ffffff;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* biar tiap section stack vertikal */
}

.site-header {
  position: fixed;    /* kalau mau nempel di atas */
  display: flex;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;       /* biar di atas konten lain */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1134px;
    top: 32px;
    margin-top: 0px;
    z-index: 100;
    padding: 10px;
}

nav img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-left: 60px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

nav ul li a{
    font-family: "hanken grotesk", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.menu-toggle {
  display: none; /* tombol hamburger disembunyiin di desktop */
}

/*cover*/

.cover {
  height: 80vh;
  background:url(images/infinite-cover.png) center/cover no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  margin: 0;   /* jangan auto */
  margin-top: 60px;
}

/*description*/

.wo-section {
  display: flex;
  align-items: center;   /* tinggi kiri–kanan sama */
  align-content: center;
  gap: 300px;
  padding: 60px 80px;
  color: var(--grey--);
  font-family: 'hanken grotesk', sans-serif;
}

.wo-section .left h1 {
  color: var(--green--); /* biru tua elegan */
  margin-bottom: 20px;
  font-size: 32px;
  letter-spacing: 2%;
  font-weight: 700;
}

.wo-section .left {
  flex: 1;
  max-width: 600px;
}

.wo-section .left p {
  font-size: 18px;
  font-weight: 400;
}

.wo-section .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* konten atas & bawah sejajar */
  margin-top: 108px;
  line-height: 0.8;
  font-size: 16px;
  font-weight: 400;
}


/*infinite1*/

.infinite1 {
  height: 95vh;
  background: url(images/infinite1.png) no-repeat center center;
  background-size: cover;
  justify-content: space-between;   /* geser ke kanan */
  align-items: center;         /* rata tengah vertikal */
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  width: 100%;;
}

/*infinirte2*/

.episode-section {
  display: flex;
  min-height: 90vh;
  color: var(--grey--);
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 40px 90px;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
}

.left p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 300px;
  margin-right: 150px;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  gap: 20px;
}

.reel-img {
  max-width: 40%;
  height: auto;
}

/*infinite3*/

.infinite-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 0px 20px;
}

.infinite-banner img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.infinite-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 60px 75px;
  background: #f5f5f5;
  font-family: 'Hanken Grotesk', sans-serif;
}

.infinite-content .left {
  flex: 1.5;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.infinite-content .left img {
  max-width: 100%;
  height: auto;
}

.infinite-content .right {
  flex: 1;
  text-align: left;
}

.infinite-content .right p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--grey--);
  font-weight: 300;
}


/*review*/

.review {
  position: relative; 
  height: 100vh;                          /* full satu layar */
  background: url(images/review.png) no-repeat center center;
  background-size: cover;                 /* gambar penuh */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
}

/* footer */

.footer {
  height: 60vh;               /* full satu layar */
  background: #333;            /* dark theme */
  color: #fff;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* konten atas & bawah */
  font-family: Arial, sans-serif;
}

.footer-left .logo {
  width: 50px;          /* atur ukuran logo */
  height: auto;
  margin-bottom: 10px;
  display: block;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left .logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-left a {
  color: #fff;
  text-decoration: none;
}

.footer-right a {
  color: #fff;          /* hijau */
  text-decoration: none;   /* hilangkan garis bawah */
  font-weight: bold;
}

.footer-right a:hover {
  text-decoration: underline; /* efek hover */
  color: #fff;             /* hijau lebih gelap saat hover */
}

.footer-center h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center li {
  margin-bottom: 10px;
}

.footer-right p {
  font-size: 16px;
  font-weight: medium;
  color: #fff;
}

.footer hr {
  border: 0;
  border-top: 1px solid #fff;
  margin: 0px 0;        
  margin-top: 60px;
  margin-bottom: 0px;
  width: 100%;          
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #aaa;
  margin-top: 0px;      
  padding-bottom: 0px; 
}
